<HTML>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
        <title>Contact</title>
    </head>
    <body style="background-image: none;">
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/research">Our Findings</a></li>
            <li style="float: right;"><a class="active" href="/contact">Contact</a></li>
        </ul>
        <h1 class="contact_title">Contact Us</h1>
        <h3>Email Us At</h3>
        <ul class="emails">
            <li>Keerthana Baskaran - keerthana-baskaran@hotmail.com</li>
            <li>Gabriela Cordova - gaby96@my.yorku.ca</li>
            <li>Veronica Dymond - v-dymond65@hotmail.com</li>
            <li>Samantha Hall - shall09@my.yorku.ca</li>
            <li>Yvonne Lee - Yvonne.Lee13@hotmail.com</li>
            <li>Tara Sherif - tara.sherif1@gmail.com </li>
            <li>Juwayriyah Virk- juwayriyah@hotmail.ca</li>
        </ul>
        <h4>In Collaboration With: SEPYR - Settlement & Education Partnership in York Region, Eileen Wan of Catholic Community Service of York Region (CCSYR)</h4>
    </body>
</HTML>