<HTML>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
        <title>TEST</title>
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/research">The Research</a></li>
            <li style="float: right;"><a href="/contact">Contact</a></li>
        </ul>
        <div class="image">
           
            <div class="title">
                <h2>Conceptualization of the Term Welcoming and how it is Present on School Board's Websites Located in the Greater Toronto Area</h2>
            </div>
        </div>
    </body>
</HTML>