<HTML>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style2.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
        <script src="https://use.fontawesome.com/69ba8fe85f.js"></script>
        <title>Findings</title>
    </head>
    <body style="background-image: none;">
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/research" class="active">The Research</a></li>
            <li style="float: right;"><a href="/contact">Contact</a></li>
        </ul>
        <div class="panel">
            <div class="title">
            <h2>Conceptualization of the Term Welcoming and how it is Present on School Board's Websites Located in the Greater Toronto Area</h2>
            </div>
            <div class="container">
                <div class="abstract">
                    <h3>Abstract</h3>    
                    <p>Our research project was conducted for the Settlement and Education Partnership in York Region in collaboration with the Catholic Community Services of York Region.
                    </p>
                    <p>The problem that our project aims to address is the situation that newcomer parents face regarding their ability to engage in their child’s education. School staff and newcomer parents are faced with a lack of understanding and communication caused by certain obstacles (i.e., language barriers) that prevent newcomer parents from fully engaging and participating in school activities.</p>
                    <p>Through our research on school board websites in the GTA, we hope to identify areas of change that could provide a smooth transition for newcomer families in the school community.
                    Our research question(s) is as follows; how do public district school boards in the Greater Toronto Area (GTA) define “welcoming” (regarding newcomers) on their websites? How does this conceptualization generate through how they identify/present solutions on their websites to language barriers experienced by newcomers? What services are listed on their websites and how do they present their services? Based on how welcoming is conceptualized, what is missing from these definitions?  
                    </p>
                </div>
                <div class="method">
                    <h3>Method</h3>  
                    <p>Our research utilized an exploratory, qualitative approach which used web analysis to collect data. The sample for our research consisted of six public school boards in the GTA.</p> 
                <p>www.tdsb.on.ca (Toronto District School Board)
                 www.yrdsb.ca (York Region District School Board)
                 www.ddsb.ca (Durham District School Board )
                 www.peelschools.org (Peel Region District School Board)
                 www.hdsb.ca (Halton District School Board)
                    www.hwdsb.on.ca (Hamilton-Wentworth District School Board)</p>
               <p>In total, there were 12 school boards in the GTA, but we focused on public school boards since they were more welcoming than Catholic school boards. A measuring tool was designed to measure how welcoming operationalizes in our sample school board websites. We have defined welcoming as “attracting and retaining newcomers by identifying and removing barriers, promoting a sense of belonging, meeting diverse needs, and offering services that promote successful integration” (Yan, Anucha, 2017, pg.92-93). The matrix tables were categorized into six main groups: home page, images, languages, parental involvement, educational services, services and programs available to newcomers.</p>
                </div>
                   
            </div>
            <div class="findings">
                    <h3>Our Findings</h3>
                    <p>Our findings demonstrate that school boards within the GTA recognize     newcomer parent’s needs to be fully engaged in their children’s education. All school boards effectively make use of images on their website homepages, translation tools and languages, parent involvement opportunities, educational services, and various other programs designed for newcomers that will make the transition process easier for newcomer families.  <br><br>
                    These school board websites are in fact welcoming, especially when you consider how accessible and prominent resources/links for language training and help has been made. Some school board websites go even further, such as the Toronto District School board, as their language training program provides parents with Canadian experience. <br><br>
                    Additionally, all six school boards: <br><br>
                    
                    -Effectively use images on their websites homepages to promote diversity and inclusivity<br><br>
                    -Various volunteer opportunities posted on the school board websites that would allow newcomer parents to become more involved in their child’s education (i.e., links for joining parent committees and opportunities to volunteer for field trips)<br><br>
                    -Information on educational services (for both newcomer parents and students)<br><br>
                    -Links to services/programs such as settlement services, specific to newcomers found on the website homepages 

                    </p>
                </div> 
            <div class="future">
                <h3>Call to Action and Future Objectives</h3>
                <p>Newcomer parents face structural barriers that prevents them from feeling welcomed into schools. This does not allow them to be active members in the school and in their children’s educational life. There are many obstacles that creates a gap between schools and the parents. A school board’s website is a reflection of their values and beliefs. By determining if school boards are welcoming and to what degree will be the first step in bridging the gap.<br><br>
                Sharing our findings will create discussion to the ongoing talk about barriers between newcomer parents and schools. Creating research and discussion is necessary in order to create change. The problem itself must first be identified.<br><br>
                The following are key recommendations in bridging the gap between newcomer parents and school:<br><br>
                    -Accessible websites by providing translation option in all languages<br><br>
                    -Using universal symbols across the websites for non-English speakers<br><br>
                    -Having interpreters available in all schools<br><br>
                    -ESL classes for newcomers and parents in all schools<br><br>
                    -Include website tools that can change font size (taking into account people’s abilities and disabilities)<br><br>
                    -Inclusive and diverse images on websites to welcome newcomers<br><br>
                    -Increasing parent involvement in schools with volunteer and employment opportunities <br><br>
                    -Creating programs and services in schools that welcome newcomers to integrate into schools successfully<br><br>
                </p>
            </div>
        </div>
    </body>
</HTML>